<html>
    <title>ToadHut</title>
    <body> 
        <h1> WELCOME TO TOADHUT! </h1>
        <p> This is the landing page for ToadHut! If you have any questions please revert to our discord.</p>
        <a href="http://discord.gg/8YvZnDb">Support Discord!</a>    
        <a href="https://panel.toadhut.club/">Panel Link</a> 
    </body>
</html>
