<html>
    <title>ToadHut</title>
    <style>
     a.button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }
    a.button2 {
        background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }
      </style>
      <body> 
      <hl>WELCOME TO TOADHUT!</h1>
        <p style="color:red"> This is the landing page for ToadHut! If you have any questions please revert to our discord.</p> </br> 
         <hr { display: block; height: 1px;
            border: 0; border-top: 1px solid #ccc;
            margin: 1em 0; padding: 0; }>
    <a href="https://google.com" class="button">Go to Google</a>  
    <a href="https://discord.gg/m8cWvNB" class="button2">Discord</a>  
    </body>
</html>
