<html>
<title>ToadHut</title>
<link rel="shortcut icon" type="static/src/img" href="img/favicon.ico"
<link rel="stylesheet" href="src/css/index.css">
</head>

<body>
    <hl>WELCOME TO TOADHUT!</h1>
        <p style="color:red"> This is the landing page for ToadHut! If you have any questions please revert to our
            discord.</p> </br>
        <hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }>
        <a href="https://panel.toadhut.club" class="button">Panel</a>
        <a href="https://discord.gg/m8cWvNB" class="button2">Discord</a>
</body>
</html>
